{% extends 'base.html.twig' %}

{% block title %}Animal - {{ animal.nom|capitalize }}{% endblock %}

{% block titreH1 %}Affichage de l'animal{% endblock %}

{% block body %}

    <div class="container">
        <div class="card col-md-6 mx-auto">
            <h2 class="card-title text-center">{{ animal.nom }}</h2>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <img src="{{ asset('assets/' ~ animal.image) }}" alt="">
                    </div>
                    <div class="col-md-6 align-items-center">
                        <p>{{ animal.description }}</p>
                        <p>{{ animal.poids }} Kg</p>
                        {% if(animal.dangereux) %}
                            <sapn class="text-danger font-weight-bold mr-2">Dangereux</sapn>
                            <a href="{{ path('famille', {'id': animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle|capitalize }}</a> <br/>
                        {% else %}
                            <span class="text-success font-weight-bold mr-2">Pas dangereux</span>
                            <a href="{{ path('famille', {'id' : animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle|capitalize }}</a> <br/>
                        {% endif %}
                        {% for continent in animal.continents %}
                            <a href="{{ path('continent', {'id' : continent.id}) }}" class="btn btn-warning mt-2">{{ continent.libelle }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
