{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block titreH1 %}Liste des livres{% endblock %}

{% block body %}

    <div class="container">
        
        {% for animal in animaux %}
            <div class="row my-3">
                <div class="col-md-3">
                    <img src="{{ asset('assets/' ~ animal.image) }}" alt="">
                </div>

                <div class="col-auto">
                    <a href="{{ path('afficher_animal', {'id' : animal.id}) }}"><h4>{{ animal.nom }}</h4></a>
                    <p>{{ animal.description }}</p>
                    <p>{{ animal.poids }} Kg</p>
                    {% if(animal.dangereux) %}
                        <p class="text-danger font-weight-bold">Dangereux</p>
                    {% else %}
                        <p class="text-success font-weight-bold">Pas dangereux</p>
                    {% endif %}
                    <div>
                        <a href="{{ path('famille', {'id' : animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle|capitalize }}</a>
                    </div>
                    {% for continent in animal.continents %}
                        <a href="" class="btn btn-warning mt-2">{{ continent.libelle }}</a>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}

    </div>

{% endblock %}
